<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")

        title My Diary

        link(href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans+Condensed:400,400i,700,700i&amp;subset=vietnamese" rel="stylesheet")

        link(rel='stylesheet' href='/asset/css/style.css')
        link(rel='stylesheet' href='/asset/lib/simplemde/simplemde.min.css')

        link(rel='stylesheet' href='/app/index.css')

        link(rel='stylesheet' href='/app/LoadPage/index.css')
        link(rel='stylesheet' href='/app/LoginPage/index.css')
        link(rel='stylesheet' href='/app/WorkPage/index.css')
        
    body
        #app
            .page.login(v-if='LoginPage.active')
                .form
                    h1.title MY DIARY
                    .status(v-if='LoginPage.status.type' v-bind:stype='LoginPage.status.type') {{LoginPage.status.message}}
                    input.input(type='password' v-model='LoginPage.password' v-on:keypress.enter='LoginPage_login')
                    button.submit(v-on:click='LoginPage_login') Login
            .page.load(v-if='LoadPage.active')
                .loader
                .content Waiting...
            .page.work(v-if='WorkPage.active')
                input#open-left-panel(type='checkbox')
                label(for='open-left-panel') MENU
                .left
                    .box.today(v-if='WorkPage.list && WorkPage.list[0]')
                        .title TODAY
                        .list
                            button.item(v-if='WorkPage.list && WorkPage.list[0]' v-on:click='WorkPage_showStory(WorkPage.list[0])')
                                .date
                                    .monthyear {{ WorkPage_getMonthYear(WorkPage.list[0].date) }}
                                    .day {{ WorkPage_getDay(WorkPage.list[0].date) }}
                                .ititle {{ WorkPage.list[0].title }}
                    .box.recent
                        .title RECENT
                        .list
                            button.item(v-for='story, index of WorkPage.list' v-if='index !== 0' v-on:click='WorkPage_showStory(story)')
                                .date
                                    .monthyear {{ WorkPage_getMonthYear(story.date) }}
                                    .day {{ WorkPage_getDay(story.date) }}
                                .ititle {{ story.title }}
                    .box.memory
                        .title MEMORY
                        .list
                            button.item(v-for='story, index of WorkPage.list' v-if='WorkPage_isMemory(story.date)' v-on:click='WorkPage_showStory(story)')
                                .date
                                    .monthyear {{ WorkPage_getMonthYear(story.date) }}
                                    .day {{ WorkPage_getDay(story.date) }}
                                .ititle {{ story.title }}
                    .box.chart
                        .title CHART
                        .calendar
                            .ctitle.week
                                .day MON
                                .day TUE
                                .day WED
                                .day THU
                                .day FRI
                                .day SAT
                                .day SUN 
                            .clist
                                .week(v-for='week of WorkPage.calendar')
                                    .day(v-for='day of week' v-bind:check='day ? "true" : "false"')
                                
                .main(v-bind:hide='WorkPage.cstory === null ? "true" : "false"')
                    .menu(v-if='WorkPage.cstory !== null')
                        button.item.tab(v-if="!WorkPage.readonly" v-on:click='WorkPage_edit' v-bind:active='WorkPage.curtab == "edit" ? "true" : "false"') EDITOR
                        button.item.tab(v-on:click='WorkPage_view' v-bind:active='WorkPage.curtab === "view" ? "true" : "false"') VIEW
                        .item.date {{ `${WorkPage_getDay(WorkPage.cstory.date)}/${WorkPage_getMonthYear(WorkPage.cstory.date)}` }}
                        button.item.tool(v-on:click='WorkPage_save' v-if="!WorkPage.readonly" unsave='false') SAVE
                        button.item.tool(v-if="!WorkPage.readonly" v-on:click='WorkPage_clear') CLEAR
                    .content.editor(v-bind:active='WorkPage.curtab == "edit" ? "true" : "false"')
                    .content.preview(v-bind:active='WorkPage.curtab == "view" ? "true" : "false"')
            //.page.notice(v-if='NoticePage.active')

        script(src=devmode ? '/asset/lib/vuejs/vue.js' : '/asset/lib/vuejs/vue.min.js')
        script(src='/asset/lib/simplemde/simplemde.min.js')
        script(src='/asset/lib/momentjs/moment.min.js')

        script(src='/app/index.js')
        script(src='/app/LoadPage/index.js')
        script(src='/app/LoginPage/index.js')
        script(src='/app/NotiPage/index.js')
        script(src='/app/WorkPage/index.js')

        script(src='/app/start.js')