<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")

        title My Diary

        link(href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans+Condensed:400,400i,700,700i&amp;subset=vietnamese" rel="stylesheet")

        link(rel='stylesheet' href='/asset/css/style.css')
        link(rel='stylesheet' href='/asset/lib/simplemde/simplemde.min.css')

        link(rel='stylesheet' href='/app/index.css')

        link(rel='stylesheet' href='/app/LoadPage/index.css')
        link(rel='stylesheet' href='/app/LoginPage/index.css')
        link(rel='stylesheet' href='/app/WorkPage/index.css')
        
    body
        #app
            .page.login(v-if='LoginPage.active')
                .form
                    h1.title MY DIARY
                    .status(v-if='LoginPage.status.type' v-bind:stype='LoginPage.status.type') {{LoginPage.status.message}}
                    input.input(type='password' v-model='LoginPage.password' v-on:keypress.enter='LoginPage_login')
                    button.submit(v-on:click='LoginPage_login') Login
            .page.load(v-if='LoadPage.active')
                .loader
                .content Waiting...
            .page.work(v-if='WorkPage.active')
                input#open-left-panel(type='checkbox')
                label(for='open-left-panel') MENU
                .left
                    .box.todday
                        .title TODAY
                        .list
                            button.item
                                .date
                                    .monthyear {{ moment(WorkPage.today.date).format('DD') }}
                                    .day {{ moment(WorkPage.today.date).format('DD') }}
                                .ititle {{ WorkPage.today.title }}
                    .box.recent
                        .title RECENT
                        .list
                            button.item
                                .date
                                    .monthyear 03/2018
                                    .day 20
                                .ititle A lovely day with girl friend.
                            button.item
                                .date
                                    .monthyear 03/2018
                                    .day 19
                                .ititle Cắm trại với câu lạc bộ sách và hành động UIT.
                            button.item
                                .date
                                    .monthyear 03/2018
                                    .day 18
                                .ititle Cắm trại với câu lạc bộ sách và hành động UIT.
                            button.item
                                .date
                                    .monthyear 03/2018
                                    .day 17
                                .ititle Cắm trại với câu lạc bộ sách và hành động UIT.
                            button.item
                                .date
                                    .monthyear 03/2018
                                    .day 16
                                .ititle Cắm trại với câu lạc bộ sách và hành động UIT.
                            button.item
                                .date
                                    .monthyear 03/2018
                                    .day 15
                                .ititle Cắm trại với câu lạc bộ sách và hành động UIT.
                            button.item
                                .date
                                    .monthyear 03/2018
                                    .day 14
                                .ititle Cắm trại với câu lạc bộ sách và hành động UIT.
                            button.item
                                .date
                                    .monthyear 03/2018
                                    .day 13
                                .ititle Cắm trại với câu lạc bộ sách và hành động UIT.
                    .box.memory
                        .title MEMORY
                        .list
                            button.item
                                .date
                                    .monthyear 03/2017
                                    .day 21
                                .ititle Happy day
                            button.item
                                .date
                                    .monthyear 03/2016
                                    .day 21
                                .ititle Happy day
                            button.item
                                .date
                                    .monthyear 03/2015
                                    .day 21
                                .ititle Happy day
                            button.item
                                .date
                                    .monthyear 03/2014
                                    .day 21
                                .ititle Happy day
                    .box.chart
                        .title CHART
                        .calendar
                            .ctitle.week
                                .day MON
                                .day TUE
                                .day WED
                                .day THU
                                .day FRI
                                .day SAT
                                .day SUN 
                            .clist
                                .week
                                    .day(check='true')
                                    .day(check='true')
                                    .day
                                    .day(check='true')
                                    .day(check='true')
                                    .day
                                    .day(check='true')
                                .week
                                    .day(check='true')
                                    .day
                                    .day
                                    .day
                                    .day(check='true')
                                    .day(check='true')
                                    .day(check='true')
                                .week
                                    .day(check='true')
                                    .day
                                    .day
                                    .day
                                    .day(check='true')
                                    .day(check='true')
                                    .day(check='true')
                                .week
                                    .day(check='true')
                                    .day
                                    .day
                                    .day
                                    .day(check='true')
                                    .day(check='true')
                                    .day(check='true')
                                .week
                                    .day(check='true')
                                    .day
                                    .day
                                    .day
                                    .day(check='true')
                                    .day(check='true')
                                    .day(check='true')
                                .week
                                    .day(check='true')
                                    .day
                                    .day
                                    .day
                                    .day(check='true')
                                    .day(check='true')
                                    .day(check='true')
                                .week
                                    .day(check='true')
                                    .day
                                    .day
                                    .day
                                    .day(check='true')
                                    .day(check='true')
                                    .day(check='true')
                                .week
                                    .day(check='true')
                                    .day
                                    .day
                                    .day
                                    .day(check='true')
                                    .day(check='true')
                                    .day(check='true')
                                .week
                                    .day(check='true')
                                    .day
                                    .day
                                    .day
                                    .day(check='true')
                                    .day(check='true')
                                    .day(check='true')
                                .week
                                    .day(check='true')
                                    .day
                                    .day
                                    .day
                                    .day(check='true')
                                    .day(check='true')
                                    .day(check='true')
                                .week
                                    .day(check='true')
                                    .day
                                    .day
                                    .day
                                    .day(check='true')
                                    .day(check='true')
                                    .day(check='true')
                                .week
                                    .day(check='true')
                                    .day
                                    .day
                                    .day
                                    .day(check='true')
                                    .day(check='true')
                                    .day(check='true')
                                .week
                                    .day(check='true')
                                    .day
                                    .day
                                    .day
                                    .day(check='true')
                                    .day(check='true')
                                    .day(check='true')
                                .week
                                    .day(check='true')
                                    .day
                                    .day
                                    .day
                                    .day(check='true')
                                    .day(check='true')
                                    .day(check='true')
                                .week
                                    .day(check='true')
                                    .day
                                    .day
                                    .day
                                    .day(check='true')
                                    .day(check='true')
                                    .day(check='true')
                                .week
                                    .day(check='true')
                                    .day
                                    .day
                                    .day
                                    .day(check='true')
                                    .day(check='true')
                                    .day(check='true')
                                .week
                                    .day(check='true')
                                    .day
                                    .day
                .main
                    .menu
                        button.item.tab(v-if="!WorkPage.readonly" v-on:click='WorkPage_edit' v-bind:active='WorkPage.curtab == "edit" ? "true" : "false"') EDITOR
                        button.item.tab(v-on:click='WorkPage_view' v-bind:active='WorkPage.curtab === "view" ? "true" : "false"') VIEW
                        .item.date 22/12/2018
                        button.item.tool(v-if="!WorkPage.readonly" unsave='false') SAVE
                        button.item.tool(v-if="!WorkPage.readonly" v-on:click='WorkPage_clear') CLEAR
                    .content.editor(v-bind:active='WorkPage.curtab == "edit" ? "true" : "false"')
                    .content.preview(v-bind:active='WorkPage.curtab == "view" ? "true" : "false"')
            //.page.notice(v-if='NoticePage.active')

        script(src=devmode ? '/asset/lib/vuejs/vue.js' : '/asset/lib/vuejs/vue.min.js')
        script(src='/asset/lib/simplemde/simplemde.min.js')

        script(src='/app/index.js')
        script(src='/app/LoadPage/index.js')
        script(src='/app/LoginPage/index.js')
        script(src='/app/WorkPage/index.js')

        script(src='/app/start.js')